.button-colors{
    color: white;
    border: 1px solid white;
    background-color: darkblue;
}

.button-colors:hover{
    color: darkblue;
    border: 1px solid darkblue;
    background-color: white;
}

body{
    background-color: #222222;
    color: white;
}

.header__line{
    border-bottom: 1px solid white;
}

.footer__line{
    border-top: 1px solid white;
}

.add__form-colors{
    background-color: #222222;
    color: white;
    border: 3px white solid;
}